.app {
  text-align: center;
}

.habit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.habit-count {
  background-color: rgba(138, 206, 138, 0.918);
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  color: white;
  margin: .5em;
}

.habit-button {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  background-color: transparent;
  border: none;
}

.habit-button > div {
  width: 100%;
  height: 100%;
}

.habit-increase {
  color: rgb(145, 214, 42);  
  margin-right: .5em;
}

.habit-decrease {
  color: tomato;
  margin-right: .5em;
}

.habit-delete {
  color: rgb(94, 20, 20);
}